gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks

//추가
buildscript {
ext. kotlin_version = '1.7.20'
repositories {
google()
mavenCentral()
}
}
dependencies {
classpath 'com. android. tools. build: gradle:7.3.1'
}

allprojects {
repositories {
google()
mavenCentral()
}
}
rootProject.buildDir = ' .. /build'
subprojects {
project.buildDir = "${rootProject.buildDir}/${project.name}"
}

subprojects {
project. evaluationDependsOn(':app')
}

tasks.register("clean", Delete) {
delete rootProject.buildDir
}
